@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    @apply bg-slate-950 text-slate-100 antialiased;
  }
  
  body {
    @apply min-h-screen overflow-x-hidden;
  }
}
